div#page section#action-area {
  display: flex;
  flex-direction: column;

  .call-to-action {
    display: none;
  }

  div#form-area {
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    form#filter-form {
      text-align: center;

      div#filters-container {
        display: flex;
        flex-direction: row;

        div#filter-search-input, div#filter-precinct-input {
          // flex-grow: 1;
          // flex-shrink: 100;
          padding: 5px;
          h5 {
            margin-top: 10px;
            width: 100%;
            color: white;
            @include oswald;
            display: inline-block;
            font-size: 10px;
            letter-spacing: 0.7pt;
            text-align: center;
          }
          div.search-container {
            position: relative;
            display: inline-block;
            input[type='number'],input[type='text'] {
              padding: 10px;
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              background-color: rgba(255,255,255,0.7);
              border: 0;
              width: 100%;
              @include montserrat-bold;

              &:focus + i.fa {
                visibility: visible;
              }


            }
            input[type='text'] {
              text-align: left;
            }
            input.tt-hint {
              color: gray;
            }
            .tt-menu {
              background-color: white;
              width: 100%;
              text-align: left;
              padding: 0 5px 5px;
              border-top: 2px solid orange;
              z-index: 2000 !important;
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: $beto-green;
            }
            i.fa {
              visibility: hidden;
              position: absolute;
              right: 8px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

        }
      }
    }
  }

  ul#main-tabs {

    li {
      flex-grow: 1;

      a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;

        &.active {
          background-color: white !important;
          border-bottom: none;
          color: black !important;
          box-shadow: 0 2px 7px rgba(0,0,0,0.2);

          &:before {
            background-color: $beto-green !important;
          }
        }

        &.nav-link {
          border-radius: 0px;
          padding-top: 15px;
          padding-bottom: 17px;
          position: relative;
          background-color: black;
          color: rgba(255,255,255,.8);
          border: none;

          @include oswald;

          &:before {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $beto-gray;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }

  }

  #content-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 0;
    background-color: white;
    flex-shrink: 100;

    article#action-area {
      background-color: $green;
      flex-grow: 1;

    }

    .main-tab  {
      .main-tab-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        ul.nav-tabs {
          padding-bottom: 2px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          align-items: center;
          border-bottom: none;
          li.nav-title {
            font-size: 12px;
            font-weight: bold;
            margin-right: 10px;
            margin-left: 10px;
          }
          li.nav-item {
            a.nav-link {
              padding: 10px;
              border-radius: 50px;
              img {
                width: 30px;
                height: 30px;
              }

              &.active {
                border-color: #666666;
                border-width: 2px;
                background-color: transparent;
              }
            }
          }
        }
      }

      &.active {
        display: flex;
        flex-direction: column;
      }
    }


    article#strategy-area {
      background-color: white;
      flex-grow: 1;
      position: relative;
      overflow: hidden;
      #strategy-area-content {

        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .tab-pane.active {
          display: flex;
          flex-direction: column;
          flex-grow: 1;


          .strategy-content {
            flex-grow: 1;
            height: 0;
            overflow: auto;

            @media only screen and (max-width: 850px) {
              overflow-y: scroll; /* has to be scroll, not auto */
              -webkit-overflow-scrolling: touch;
            }
          }

          .strategy-cta {
            a.btn {
              width: calc(100% - 10px);
              padding: 10px;
              margin: 5px;
            }
          }
        }
      }
      #strategy-area-content {

      }

      #county-inner-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 90;
        left: -100%;
        display: flex;
        flex-direction: column;

        &[data-mode='priority'] {
          .county-precints {
            padding-top: 0;
            h5 { display: none; }
          }
          .county-specific {
            border-bottom: none;
            padding-bottom: 0;
            margin-botton: 0;
          }
        }

        .back-button {
          padding: 10px 10px;
          background-color: whitesmoke;
          font-family: oswald;
          text-transform: uppercase;
          color: #b3b7be;
          font-size: 13px;
          letter-spacing: 0.7px;
          vertical-align: middle;
          cursor: pointer;
        }

        #county-area {
          flex-grow: 1;
          overflow: auto;
          min-height:0;
          @media only screen and (max-width: 850px) {
            overflow-y: scroll; /* has to be scroll, not auto */
            -webkit-overflow-scrolling: touch;
          }

          @include others-stat;
        }

        .county-specific {
          padding: 20px;
          @include bar-title;
          @include bar-visual {
            @include bar-big-title;
          };
          border-bottom: 1px dotted rgba(221, 226, 234, 0.80);
        }

        .bar-priority-data {
          display: flex;
          flex-wrap: wrap;
        }
        .county-precints {
          padding: 20px;
          @include bar-title;

          .precint-data {
            @include bar-visual;
            @include bar-visual-precint;

            width: 50%;
            padding: 3px 0 3px 15px;

            .precint-line {
              @include data-voted;

              padding: 2px;
              border-radius: 8px;
              margin: -2;
              cursor: pointer;
              &:hover { background-color: rgba(0,0,0,0.1); }
            }
          }
        }

      }
    }
  }
}
