body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 0;

  .ldBar-label {
    @include montserrat-bold;
    letter-spacing: 0.5px;
  }

  @media only screen and (min-width: 850px) {
    #userlike.userlike-mobile a#userlike-tab.userlike-slideup,
    #userlike a#userlike-tab.userlike-button-bubble.userlike-slideup {
      right: 610px !important;
      bottom: 23px;
    }

    #userlike #userlike-tab {
      bottom: 1px;
      right: 0 !important;
      border-radius: 4px 0 0 0;
      padding: 6px;
      height: 32px;
      min-width: 0 !important;
      @include montserrat;

      #userlike-button-text {
        top: 0 !important;
        @include montserrat;
      }
      #userlike-button-symbol {
        width: 23px;
        height: 23px;
        i {
          font-size: 24px !important;
        }
      }
    }

    #userlike-popup {
      right: 400px !important;
    }
  }

  div#logo {
    left: 6px;
    top: 6px;
    position: absolute;
    z-index: 1000;
    height: 30px;
    display: flex;
    flex-direction: row;
    a { display: block;overflow: hidden;}
    a#a-home {
      img {
        height: 33px;
        margin-top: -3px; }
    }
    a#a-plan{
      background-color: black;
      padding-right: 5px;
      margin-left: 5px;

      img { height: 27px; }
    }
  }
  div#page {
    height: 100%;
    width: 100%;
    min-height: 0;

    display: flex;
    flex-direction: row-reverse;

    section#action-area {
      width: 400px;
      height: 100%;
      min-height: 0;

      #main-content-area {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        #attribution {
          background-color: #cbcfd7;
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 10px;
          padding: 2px 4px;
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.4;
          font-weight: bold;

          a { color: white; margin-left: 5px;}
        }
      }
    }

    section#map-area {
      flex-grow: 1;
    }

    a.beto-cta {
      font-weight: 600;
      border-radius: 0;
      border: 0;
      letter-spacing: 0.8px;
      color: black;
      font-size: 15px;
      padding:  3px 10px;
      @include oswald;
      display: inline-block;
    }
  }
}
