#volunteer-shift {
  #closest-blockwalk {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: rgba(255,0,255,0.06);
    margin-bottom: 30px;

    & > h4 {
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 14px;
      margin-bottom: 10px;
    }
    div.event-detail-container {
      @include event-styling;
    }
  }
  #event-listarea {
    & > h4 {
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 14px;
    }
    div.eventItem {
      margin-bottom: 15px;
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: 9px;

      div.event-detail-container {
        @include event-styling;
      }
    }
  }
}
