html body {

  div#page section#map-area {
    .cta-directions {
      display: none;
    }
    #beto-loader {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
      svg {
        width: 200px;
        height: 100px;
      }

      .ldBar-label:before {
        content: 'Loading... '
      }
    }
    background-color: whitesmoke;
    .urg {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
      padding: 2px 5px;
      white-space: nowrap;
      &.urg-top { background-color: rgba(255,0,0,0.8); color: white; }
      &.urg-very-high { background-color: rgba(255,0,0,0.6); color: white; }
      &.urg-high { background-color: rgba(255,0,0,0.4); color: white; }
      &.urg-med { background-color: rgba(255,0,0,0.1); color: #333; }
    }
    position: relative;
    .ct-county-data {
      font-size: 12px;
      width: 350px;
      table {
        width: 100%;
        font-size: 12px;
      }
      h3 {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;


        span.urg {
          width: 10px;
          height: 10px;
          display: inline-block;
          border-radius: 10px;
          margin-right: 2px;
          &.urg-0 { background-color: rgba(0,255,0,0.4); }
          &.urg-005 { background-color: rgba(255,0,0,0.05); }
          &.urg-04 { background-color: rgba(255,0,0,0.4); }
          &.urg-06 { background-color: rgba(255,0,0,0.6); }
          &.urg-08 { background-color: rgba(255,0,0,0.8); }
        }
      }

      th { background-color: whitesmoke}
    }

    div#map-insight {
      position: absolute;
      top: 36px;
      left: 6px;
      z-index: 2000;
      display: none;

      div#map-insight-container {
        background-color: whitesmoke;
        border-top: 4px solid #c4ff00;
        width: 212px;
        font-size: 12px;
        @include montserrat;

        h3 {
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          padding: 4px;
          background-color: white;
          strong {
            @include oswald;
            font-size: 18px;
          }
          span {
            font-weight: 200;
            font-size: 11px;
          }
          i.no-urgency {
            display: none;
            display: none;
          }
          i.urgency {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            vertical-align: middle;
            display: none;
          }

          a {
            font-size: 12px;
            padding: 2px 15px;
            display: inline-block;
            padding: 2px 15px;
            display: inline-block;
            letter-spacing: unset;
          }
        }



        table {
          font-size: 12px;
          margin-bottom: 0;
          td {
            text-align: right;
          }
          th {
            width: 100%;
          }
        }
        .cty-information {
          i {
            width: 100%;
            text-align: center;
            border-radius: 0;
          }

          .tbl-container {
            background-color: white;
            box-shadow: 0 2px 3px rgba(0,0,0,0.1);

            table.table-mobile { display: none; }
            table.table-desktop {
              display: block;
              th { text-align: left; }

              .other-stat-row td, .other-stat-row th {
                font-size: 10px;
                background-color: whitesmoke;
              }
            }

            tr.perc-complete {
              &[data-level='L0'] { background-color: rgba(255, 51, 170, 0.2); }
              &[data-level='L20'] { background-color: rgba(204, 102, 170, 0.4); }
              &[data-level='L40'] { background-color: rgba(153, 154, 170, 0.6); }
              &[data-level='L60'] { background-color: rgba(102, 205, 170, 0.8); }
              &[data-level='L80'] { background-color: rgba(51, 255, 170, 1); }
              &[data-level='L100'] { background-color: #00c2ff; color: white;}
            }
          }
        }



        .cta-area {
          text-align: center;
          font-size: 10px;
          letter-spacing: 0px;
          text-decoration: none;
          color: #616161;
          display: block;
          font-family: oswald;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          &:before {
            content: 'Double Click To show area overview'
          }
        }
      }
    }

    div#map-legend-container {
      position: absolute;
      bottom: 10px;
      right: 1px;
      margin: 10px;
      z-index: 2000;

      display: flex;
      flex-direction: row-reverse;

      h5 {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }
      div.map-legend {
        margin-top: 10px;
        border-radius: 0;
        padding: 5px;
        background-color: rgba(255,255,255, 0.9);
        border: 0;
        border-top: 2px solid #333;
        @include montserrat;
        margin-left: 5px;

        h5, &:before {
          font-family: oswald;
          letter-spacing: 1;
          margin-bottom: 4px;
        }

        &#door-legend {
          text-align: center;
          text-align: left;
          display: inline-block;
          div {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
        }
        &#pin-legend {
          // background-color: transparent;
          // border: none;
        }
        .pin-containers {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;

          .pins {
            display: flex;

            img { width: 15px; }

            .pin-type {
              width: 100%;
              padding: 1px;
              margin: 2px;
              font-size: 9px;
              text-transform: uppercase;
              letter-spacing: 1px;
              border-radius: 2px;
              background-color: whitesmoke;
              // border: 1px solid #e9e9e9;
            }
          }
        }
      }

      &[data-visible='targets'] {
        flex-direction: column;
        #door-legend {
          #urgency-legend {
            display: block;
            #prio-label {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              font-size: 9px;
            }
            i.urgency {
              font-size: 8px;
              font-weight: normal;
              width: 20px;
              height: 15px;
              &:after {
                display: none;
              }
            }
          }
          #complete-legend { display: none; }
        }
      }
      &[data-visible='completed'] {
        flex-direction: column;
        #door-legend {
          #urgency-legend { display: none; }
          #complete-legend { display: block; }
        }
      }

    }
    div#map-controls {
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      z-index: 2000;
      bottom: 0;
      left: 0;
      margin: 10px;
      border-radius: 0;
      border-top: 3px solid #333;
      padding: 10px;
      font-family: Montserrat;
      // background-color: rgba(255,255,255, 0.8);
      // position: absolute;
      // z-index: 2000;
      // bottom: 0;
      // left: 0;
      // margin: 10px;
      // border-radius: 4px;
      // border: 2px solid #333;
      // padding: 10px;
      #how-to {
        font-family: Oswald;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 10px;
        margin-top: 8px;
        padding-top: 3px;
        display: block;
        border-top: 1px solid gray;
        color: #5e5e5e;
        text-align: center;
        margin-bottom: -5px;
      }
      form {
        margin: 0;

        h5 {
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          font-family: oswald;
          letter-spacing: 0.7;
        }

        .map-ctrl-row {
          cursor: pointer;
          span {
            display: inline-block;
            vertical-align: middle;
          }
          label {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 10px;
            vertical-align: middle;
            cursor: pointer;
          }
          &.map-ctrl-layer {
            padding: 4px;
            background-color: #ececec;
            margin-left: -4;
            margin-right: -4px;
            margin-bottom: -3px;

            label {
              margin-bottom: 0 !important;
            }
          }
          .check-circle {
            // border-radius: 100%;
            // border: 2px solid lightgray;
            // display: inline-block;
            // height: 15px;
            // width: 15px;

            vertical-align: middle;
            i.fa { font-size: 16px; }
            i.fa.fa-check-square,
            i.fa.fa-check-circle
             {
              display: none;
            }
            i.fa.fa-square,
            i.fa.fa-circle {
              display: block;
              color: whitesmoke;
            }
          }
          input {
            visibility: hidden;
            position: absolute;
            top: -9999px;
            left: -9999px;
          }
          input:checked {
            &+.check-circle {
              border: none;
              i.fa { visibility: visible; color: $freshgreen; }

              i.fa.fa-check-square,
              i.fa.fa-check-circle
               {

                display: block;
              }
              i.fa.fa-square,
              i.fa.fa-circle {
                display: none;
              }
            }
          }
        }
      }
    }
    div#map {
      height: 100%;
      .leaflet-popup-content-wrapper, .mapboxgl-popup {
        border-radius: 4px;
      }

      .icon-container {
        position: relative;
        .my-div-image {
          width: 20px;
          transform: translate(-50%, -75%);
        }

        .my-div-span {
          transform: translate(-50%, 0);
          display: inline-block;
          position: absolute;
          top: -37px;
        }
      }

      .marker-cluster {
        width: 40px !important;
        height: 25px !important;
        margin-top: -20px !important;
        margin-left: -20px !important;
        background-color: transparent;
        background-image: url(/img/grouped.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        position: relative;

        div {
          background-color: transparent;
          position: absolute;

          top: -26px;
          width: auto;
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    // Popup content

    div.leaflet-popup-content, div.mapboxgl-popup-content {

      padding: 0;
      border-radius: 0;
      border-top: 3px solid $beto-green;

      div.staging-detail-container {
        @include staging-styling;
        width: 300px;

        h5.staging-categ {
          font-family: Montserrat;
          text-transform: uppercase;
          font-size: 10px;
          border-radius: 0;
          background-color: #a7ff00;
          color: black;
          font-weight: 600;
        }
        div.staging-details {
          div.staging-rsvp {
            a.beto-cta {
              width: 100%;
              text-align: center;
              display: inline-block;
              background-color: rgba(167,255,0,0.14);
              transition: background-color 0.3s;
              &:hover {
                background-color: rgba(167,255,0,1);
              }
            }
          }
        }
      }
      div.event-detail-container {
        @include event-styling;
        h5.event-categ {
          font-family: Montserrat;
          text-transform: uppercase;
          font-size: 10px;
          border-radius: 0;
          background-color: #a7ff00;
          color: black;
          font-weight: 600;
        }
        div.event-details {
          div.event-rsvp {

            a.beto-cta {
              width: 100%;
              text-align: center;
              display: inline-block;
              background-color: rgba(167,255,0,0.14);
              transition: background-color 0.3s;
              &:hover {
                background-color: rgba(167,255,0,1);
              }
            }
          }
        }

        width: 300px;
      }
    }
  }
}
