
@media only screen and (max-width: 850px) {

  div#userlike {
    display: none;
  }
  i.urgency {
    font-size: 10px;
  }

  div#page section#action-area div#form-area form#filter-form div#filters-container div#filter-search-input h5, div#page section#action-area div#form-area form#filter-form div#filters-container div#filter-precinct-input h5 {
    margin-top:0;
    margin-bottom: 0;
  }
  div#page section#action-area div#form-area form#filter-form div#filters-container div#filter-precinct-input div.search-container input[type='text'] {
    padding: 10px 6px 6px;
    font-size: 14px;
  }
  #userlike.userlike-mobile a#userlike-tab.userlike-slideup,
  #userlike a#userlike-tab.userlike-button-bubble.userlike-slideup {
    right: 5px !important;
    bottom: 76px !important;
  }
  html body {
    div#logo {
      left: auto;
      top: auto;
      position: relative;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      background-color: black;
      padding-top: 2px;
      a#a-home {
        background-color: white;
      }
    }
  }
  /* Action Area */
  html body div#page {
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    section#action-area {
      height: 65px;
      width: 100%;
      background-color: whitesmoke;

      div#form-area form#filter-form {
        display: flex;
        justify-content: space-between;
        padding-top: 3px;
        flex-grow: 1;

        div#filter-search-input {
          position: relative;
          padding-left: 10px;
          padding-right: 10px;
          width: 100%;

          #search-container {
            width: 100%;

            &:before {
              top: 6px;
            }
          }

          h5 {display:  none; }
          i.fa.fa-search {
            position: absolute;
            top: 20px;
            right: 5px;
            color: gray;
            margin-left: 7px;
            padding-top: 0px;
            padding-bottom: 2px;
          }
        }

        div#filter-show-more a#show-more-btn {
          font-size: 12px;
          width: 60px;
          display: inline-block;
          padding: 2px;
          background-color: #004b92;
          color: white;
          line-height: 14px;
          border-radius: 0px;
          box-shadow: 0 2px 3px rgba(0,0,0,0.2);
          margin-top: 20px;
          margin-right: 8px;
          font-family: Montserrat;
          text-transform: uppercase;
          font-size: 10;
          letter-spacing: 0.4;

          &:before {
            content: 'Show Strategy'
          }

          &.open:before {
            content: 'Hide Strategy'
          }
        }
        input[name='zipcode'] {

          padding: 5px 5px 5px 5px !important;
          font-size: 14px !important;
          width: 100% !important;
          font-weight: bold !important;
          text-align: center;
          margin-top: 6px;
              border-radius: 0;
          border: none;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
          letter-spacing: 4px;
        }
      }
      // min-height: 100px;
      div#main-content-area {
        display: flex;
        flex-direction: column;

        position: absolute;
        // border: 1px solid;
        z-index: 1500;
        width: 100%;
        top: 95px;
        background-color: whitesmoke;
        height: calc(100% - 125px);
        transition: max-height 0.4s, box-shadow 0.4s;
        max-height: 0px;
        overflow: hidden;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 0 0 5px 5px;

        &.open {
          max-height: calc(100% - 110px);
          box-shadow: 0 25px 20px rgba(0,0,0,0.2);
        }

        ul#main-tabs {
          // margin-top: 5px;
        }
      }
    }

    section#map-area {
      flex: 1 1;
      order: 2;
      display: flex;
      flex-direction: column;
      div#map {
        flex: 1;
        height: auto;
        .leaflet-control-zoom {
          // display: none;
        }
        div.leaflet-popup-content-wrapper, div.mapboxgl-popup {
          border-radius: 4px;

          div.leaflet-popup-content, div.mapboxgl-popup-content {
            margin: 5px;
            max-width: 280px;
              div.staging-detail-container {
                width: auto;
              }

              div.event-detail-container{
                width: auto;
              }
          }
        }
      }// end of #map
      div#map-insight {
        width: 100%;
        position: relative;
        height: min-content;
        max-height: 100vh;
        top: auto;
        right: auto;
        left: auto;


        box-shadow: 0px -2px 3px rgba(0,0,0,0.1);
        background-color: $bluegray;

        div#map-insight-container {
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 0;
          h3 {
            flex-direction: row;
            justify-content: space-between;
          }

          .tbl-container {
            table.table-mobile {
              width: 100%; display: block !important;
              th, td {
                width: 3%;
                white-space: nowrap;

                div.others-tbl-area {

                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  span.other-lbl {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    strong {
                      display: block;
                      width: 45px;
                      white-space: normal;
                      text-align: right;
                      font-size: 7px;
                      font-weight: normal;
                    }
                    span {
                      padding-left: 2px;
                      font-size: 11px;
                      font-weight: 800;
                    }
                  }
                }
              }
            }
            table.table-desktop { display: none !important; }

          }

          #first-view {
            border: 1px solid lightgray;
            border-radius: 4px;
            margin: 9px 10px 10px;
            padding: 10px;
            display: flex;

            i.fa-search {
              font-size: 30px;
              color: darkgray;
              margin-right: 10px;
            }
            span {
              font-size: 12px;
              color: gray;
              letter-spacing: 1px;
            }
          }

          h3 {
            font-size: 10px;
          }

          .cty-information {
            table {
              font-size: 10px;
              margin-bottom: 5px;
            }
          }

          .cta-area {
            position: absolute;
            top: 12px;
            right: 0;
            &:before {
              content: 'Tap here for more info';
              font-size: 8px;
              display: inline-block;
              padding: 2px 5px;
              // background-color: magenta;
              border-radius: 10px;
              // color: white;
            }
          }

          .cta-directions {
            color: $beto-green;
            font-weight: bold;
            position: absolute;
            right: 0;
            top: -33px;
            display: flex;
            flex-direction: row;
            padding: 5px;
            border-radius: 4px 4px 0 0;
            box-shadow: 0 -2px 3px rgba(0,0,0,0.1);
            border-bottom: 1px dotted lightgray;
            width: 90px;
            font-size: 10px;
            background-color: #525252;
            i { font-size: 18px; width: auto; }
            span {
              font-size: 10px;
              line-height: 11px;
              margin-left: 5px;
              text-transform: uppercase;
            }
          }
        }
      }
      div#map-controls {
        display: none;
      }
      div#map-legend-container {
        position: relative;
        width: 100%;
        margin: 0;
        display: flex;
        bottom: 0;
        flex-direction: row !important;

        div.map-legend {
          padding: 5px;
          background-color: whitesmoke;
          margin-top:0;
          h5 {
            font-size: 10px;
            margin-bottom: 0;
          }
          i.urgency {
            margin-right: 0px;
          }
          &#door-legend {
            margin-left: 0;
            h5 {
              margin-top: 2px !important;
              margin-bottom: 5px !important;
            }
            &> div {
              display: flex;
              flex-direction: column;
              text-align: center;

              i.urgency {
                padding: 0px 5px;
                font-size: 9px;
                margin-bottom: 2px;
              }
            }
          }

          &#pin-legend {
            flex-grow: 1;
            margin-right: 0;
            // flex-wrap: wrap;
            &:before {
              content: 'PINS';
              font-size: 10px;
              font-weight: bold;
              margin-bottom: 3px;
              display: block;
            }
            & > div {
              display: flex;
              flex-direction: column;
            }
          }
          .pin-containers{
          justify-content: flex-start;
          flex-direction: row;

          .pins .pin-type {
          display: flex;
          height: 15px;
          font-size: 7px;
          justify-content: center;
          align-items: center;

          @media only screen and (max-width: 321px) {
            img {
              width: 15px;
            }
            span {
              letter-spacing: 0;
            }
          }
        }}}
      }
    }
  }
}
