#staging-site {

    div.stagingItem {
      margin-bottom: 15px;
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: 9px;

      div.staging-detail-container {
        @include staging-styling;
      }
    }

}
