.main-tab-container {
  #main-tab-tabs {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .tab-content {
    background-color: white;
    .strategy-content {
      // padding: 20px;
      .bar-counties {
        @include bar-title;

        .bar-counties-data {
          @include bar-visual;

          div.overall-breakdown {
            overflow: hidden;
            height: 25px;
          }
        }
      }

      @include others-stat;

      .bar-regional, .bar-counties, .bar-nearby, .bar-top-priority {
        padding: 20px;
        border-top: 1px dotted rgba(221, 226, 234, 0.80);
          h1 {
            font-size: 14px;
            margin-bottom: 10px;
            width: 100px;
            text-align: right;
            text-transform: uppercase;
          }
      }
      .bar-nearby { border-top: none; margin-top: 0; padding-top: 0;}

      .bar-top-priority {
        @include bar-title;

        a.more-tops {
          font-size: 12px;
          font-weight: 600;
          margin-left: 18px;
          margin-top: 10px;
          letter-spacing: 0.2;
          @include montserrat-bold;
          color: #333;
        }

        div.precint-data {
          // @include precint-data;
          div.precint-line {
            @include bar-visual;
            @include bar-visual-precint;
            @include data-voted;

            padding: 2px;
            border-radius: 8px;
            margin: -2;
            padding-right: 0px;
            margin-right: 2px;
            cursor: pointer;
            &:hover { background-color: rgba(0,0,0,0.1); }
          }
        }
      }
      .bar-overall {
        padding: 20px;
        .overall-area.data-point {
          display: flex;
          flex-direction: column;
          @include bar-title;

          @include bar-visual {
            @include bar-big-title;
          };
        }
      }

      .data-point {

        .bar-area{
          @include data-voted;
          padding-top: 2px;
          padding-bottom: 5px;
          border-radius: 4px;
          margin-right: 10px;
          &:hover { background-color: rgba(0,0,0,0.1); }
          cursor: pointer;

          div.overall-breakdown {
            overflow: hidden;
            margin-top: 0;


          }
        }

        .precint-data-container {
          max-height: 0;
          overflow: hidden;
          &.expanded-precint-data {
            max-height: 270px;
          }
        }

        h4 {
          width: 100px;
          margin-bottom: 2px;
          // margin-top: 10px;
          font-size: 12px;
          text-align: right;
          padding-right: 5px;
        }
        .bar-area {
          // width: calc(100% - 20px);
          // display: flex;
          // flex-direction: row;
        }
        .bar-bar {
          flex-grow: 1;
          .target-bar {
            position: relative;
            .target-bar-bar {
              height: 10px;
              background-color: $purple;

            }
          }
          .completed-bar {
            width: 100%;
            position: relative;
            .completed-bar-bar {
              height: 20px;
              background-color: $green;
            }
          }

          .bar-text {
            position: absolute;
            font-size: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: #cf9a9a;
            margin-left: 2px;

            &.completed-bar-text { color: #abd1ab;}
          }
        }

        .bar-text-allowance {
          width: 35px;
        }

        h5.hd-precint {
          font-size: 11px;
          margin-top: 10px;
          width: 70px;
          text-align: right;
          text-transform: uppercase;
          margin-left: 30px;

          &+div {

            max-height: 200px;
            margin-bottom: 40px;
            overflow: scroll;
            box-shadow: 0px 2px 0px rgba(0,0,0, 0.4);
            border-radius: 0 0 4px 4px;
            min-height:0;
          }
        }


        div.precint-data {
          // @include precint-data;

          width: 100%;
          margin-bottom: 0;
        }

        .bar-priority-data {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

          & > .precint-data {
            width: 50%;
            padding: 3px 0 3px 15px;
          }
        }
      } // end of data-point

    }
  }
}
