#action-list-area {
  overflow: auto;
  background-color: white;
  height: 0;
  min-height: 0;
  flex-grow: 1;
  @media only screen and (max-width: 850px) {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }


  h1#intro-name {
    font-size: 20px;
    i { font-size: 48px; margin-bottom: 20px; }

    font-size: 20px;
    margin: 30px 40px;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
    background-color: #e5e5e5;
  }
  div#nearest-blockwalk {
    padding: 10px;
    border-radius: 4px;
    // border: 1px solid lightgray;
    background-color: rgba(255, 235, 59, 0.15);
    // margin: 0 20px;

    & > h4 {
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 14px;
      margin-bottom: 10px;
    }
    div.event-detail-container {
      @include event-styling;
      // border-radius: 2px solid #616161;
      position: relative;
      margin-bottom: 40px;
      // border-top: 2px solid whitesmoke;
      border-left: 2px solid whitesmoke;
      div.event-subhead {
        display: flex;
        h5 { border-radius: 0 !important; &:after {display: none; }}
        h5.event-distance {
          font-size: 11px;
          background-color: whitesmoke;
          color: black;
        }
        h5.event-categ {
          background-color: $beto-green;
          color: black;
          font-weight: bold;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
      div.event-details
      div.event-dateplace  {
        box-shadow: none;
      }
      div.event-rsvp {
        position: absolute;
        background-color: black;
        border-top: 2px solid gray;
        a { color: white;}
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        div.event-rsvp {
          background-color: white;
          border-top: 2px solid $beto-green;
          a { color: black; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
        }
      }
      /*end of detail container */
    }

  }

  div.gen-title,
  div.gen-nearest-tops,
  div.gen-nearest-staging,
  div.gen-nearest-events,
  div#nearest-blockwalk {
    padding: 20px;
    border-bottom: 1px dotted rgba(221, 226, 234, 0.80);
    @include bar-title;
    @include montserrat;
  }
  div.gen-nearest-tops {
    border-bottom: none;
  }
  div.event-popup-tabs-area {
    background: #f7f7f7;
    border-top: 20px solid #f7f7f7;
    z-index: 1000;

    ul {
      display: flex;
      border-bottom: 0;
      li {
        flex-grow: 1;
        flex-shrink: 100;
        max-width: 50%;
        text-align: center;
        a {
          @include oswald;
          font-size: 14px;
          border-bottom: 0;

          &:not(.active) {
            color: gray;
          }
          &.active {
            border-radius: 0;
            border-right: 0;
            border-left: 0;

            border-top: 3px solid;
          }
        }
      }
    }
    &.x-sticky {
      position: absolute;
      top: 0;
      width: 100%;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);

      & + .tab-content {
        padding-top: 10;
      }
    }
  }
  div.gen-title {

  }

  div.gen-title {
    @include bar-title;
    @include bar-visual {
      @include bar-big-title;
    };

    @include others-stat;
    // @include bar-visual-precint;
  }
  div.gen-nearest-tops {
    .precint-data {
      flex-wrap: wrap;
      display: flex;
      div.gen-nearby-item {
        width: 50%;
        @include bar-visual;
        @include bar-visual-precint;
        padding: 3px 0 3px 15px;

        .precint-line {
          @include data-voted;

          padding: 2px;
          border-radius: 8px;
          margin: -2;

          padding-right: 0;
          margin-right: 2px;
          cursor: pointer;
          &:hover { background-color: rgba(0,0,0,0.1); }
        }
      }
    }
  }

  h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }

  div.gen-nearby-item.gen-events {
    // margin-bottom: 15px;
    // border-bottom: 1px solid #c1c1c1;
    padding-bottom: 9px;

    div.event-detail-container {
      @include event-styling;
      // border-radius: 2px solid #616161;
      position: relative;
      margin-bottom: 40px;
      // border-top: 2px solid whitesmoke;
      border-left: 2px solid whitesmoke;
      div.event-subhead {
        display: flex;
        h5 { border-radius: 0 !important; &:after {display: none; }}
        h5.event-distance {
          font-size: 11px;
          background-color: whitesmoke;
          color: black;
        }
        h5.event-categ {
          background-color: $beto-green;
          color: black;
          font-weight: bold;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
      div.event-details
      div.event-dateplace  {
        box-shadow: none;
      }
      div.event-rsvp {
        position: absolute;
        background-color: black;
        border-top: 2px solid gray;
        a { color: white;}
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        div.event-rsvp {
          background-color: white;
          border-top: 2px solid $beto-green;
          a { color: black; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
        }
      }
      /*end of detail container */
    }
  }

  div.gen-nearby-item.gen-staging {
    // margin-bottom: 15px;
    // border-bottom: 1px solid #c1c1c1;
    padding-bottom: 9px;

    div.staging-detail-container {
      @include staging-styling;
      // border-radius: 2px solid #616161;
      position: relative;
      margin-bottom: 40px;
      // border-top: 2px solid whitesmoke;
      border-left: 2px solid whitesmoke;
      div.staging-subhead {
        display: flex;
        h5 { border-radius: 0 !important; &:after {display: none; }}
        h5.staging-distance {
          font-size: 11px;
          background-color: whitesmoke;
          color: black;
        }
        h5.staging-categ {
          background-color: $beto-green;
          color: black;
          font-weight: bold;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
      div.staging-details
      div.staging-dateplace  {
        box-shadow: none;
      }
      div.staging-rsvp {
        position: absolute;
        background-color: black;
        border-top: 2px solid gray;
        a { color: white;}
      }

      &:hover {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        div.staging-rsvp {
          background-color: white;
          border-top: 2px solid $beto-green;
          a { color: black; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }
        }
      }
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
