$limegreen: #cdff39;
$green: #82c91e;
$freshgreen: #82c91e;
$purple: #6e2fc5;
$bluegray: #e6f3ff;
$beto-gray: #616161;
$beto-green: #bdff00;
$beto-lightgray: #c3c6cd;
$beto-blue: #353b44;
$beto-lightblue: #007bdb;

$knocked-grad: #d04020;
$voted-grad: #6320d0;
@mixin gradient {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.27) 1%, rgba(255,255,255,0) 12%, rgba(0,0,0,0) 82%, rgba(0,0,0,0.3) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.27) 1%,rgba(255,255,255,0) 12%,rgba(0,0,0,0) 82%,rgba(0,0,0,0.3) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.27) 1%,rgba(255,255,255,0) 12%,rgba(0,0,0,0) 82%,rgba(0,0,0,0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4d000000',GradientType=0 );
}

@mixin oswald {
  font-family: 'Oswald';
  font-weight: 600;
  text-transform: uppercase;
}
@mixin montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
@mixin montserrat {
  font-family: 'Montserrat';
  font-weight: 300;
}
@mixin bar-title {
  h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    i, img {
      width: 20px;
      height: 20px;
    }
    i {
      text-align: right;
      margin-right: 3px;
    }
    span {
      @include oswald;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.5px;
    }
    &:after{
      content:'';
      background-image: url(/img/bars.svg);
      background-repeat: repeat-x;
      flex-grow: 1;
      height: 20px;
      background-size: auto 14px;
      margin-left: 5px;
      margin-top: 4px;
    }
  }
}

@mixin bar-visual-precint {


  div.breakdown-title, div.overall-breakdown,
  div.breakdown-title .breakdown-label {
    margin-left: 0;
    font-weight: 0;

  }
  div.breakdown-title {
    .breakdown-label {
      font-weight: 100;
    }
    span.breakdown-count {
      font-size: 12px;
    }
  }
  div.overall-breakdown {
    overflow: hidden;
    margin-top: 0;
    height: 15px;
    border-radius: 15px;

    .overall-achieved { border-radius: 15px; }
  }
}

@mixin data-voted($pad: 0px) {
  &[data-voted] {
    position: relative;
    @media only screen and (min-width: 850px) {
      &:hover {
        &:after, &:before {
          opacity: 1;
          z-index: 1000;
        }
      }
    }
    
    &:after {
      opacity: 0;
      z-index: 0;
      transition: opacity 0.4s;
      content: attr(data-voted);
      position: absolute;
      right: calc(var(--perc) + #{$pad});
      transform: translateX(50%);
      bottom: -15px;
      background-color: $voted-grad;
      padding: 2px 5px;
      font-size: 10px;
      font-family: Montserrat;
      color: white;
      line-height: 11px;
      z-index: 100;
      border-radius: 2px;
    }
    &:before {
      opacity: 0;
      z-index: 0;
      transition: opacity 0.4s;
      content: '';
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #6320d0;
      position: absolute;
      bottom: 0px;
      z-index: 1000;
      right: calc(var(--perc) + #{$pad});
      transform: translateX(50%);
    }
  }
}

@mixin bar-visual() {


  div.breakdown-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Montserrat, sans-serif;
    padding-top: 5px;
    .breakdown-label {
      font-size: 12px;
      font-weight: 600;
      margin-left: 10px;
      letter-spacing: 0.2;

      .bd-lbl {
        color: #bdbdbd !important;
      }

      &[data-urgscore] {
        font-size: 10px;
      }
      &[data-urgscore]::before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: lightsmoke;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        display: inline-block;
      }

      &[data-urgscore="l1"]::before { background-color: rgb(127, 69, 60); }
      &[data-urgscore="l2"]::before { background-color: rgb(160, 93, 103); }
      &[data-urgscore="l3"]::before { background-color: rgb(179, 124, 153); }
      &[data-urgscore="l4"]::before { background-color: rgb(172, 164, 200); }
      &[data-urgscore="l5"]::before { background-color: rgb(144, 207, 231); }

    }

    .breakdown-count {
      strong {
        color: #75a716;
        &[data-count="0"] {
          color: black;
        }
      }
      span {
        font-size: 10px;
        color: $beto-lightgray;
      }
    }
  }
  div.overall-breakdown {
    overflow: hidden;
    height: 30px;
    position: relative;
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #c6cfdd;

    span.overall-target {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #d8dee7;
      border-radius: 4px;
    }

    span.overall-achieved {
      height: 100%;
      border-radius: 4px;
      background-color: #8dd020;
      position: absolute;
      top: 0;
    }

    span.overall-knocked {
      height: 36%;
      border-radius: 0px 0 0 6px;
      background-color: #ffdb28;
      display: inline-block;
      position: absolute;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(141,208,32,1) 0%, $knocked-grad 70%, $knocked-grad 100%);
      background: -webkit-linear-gradient(top, rgba(141,208,32,1) 0%, $knocked-grad 70%,$knocked-grad 100%);
      background: linear-gradient(to bottom, rgba(141,208,32,1) 0%, $knocked-grad 70%, $knocked-grad 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dd020', endColorstr='#{$knocked-grad}',GradientType=0 );
    }
    span.overall-voted {
      height: 100%;
      border-radius: 6px;
      display: inline-block;
      top: 0;
      right: 0;
      position: absolute;
      background-color: $voted-grad;
    }

    &:after {
      content: '';
      position: absolute;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      @include gradient;
    }
  }

  @content;
}
@mixin precint-data {

    width: 90%;
    margin-bottom: 2px;
    div.precint-line {
      display: flex;
      position: relative;
      .prec-name {
        width: 120px;
        text-align: right;
        display: inline-block;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 20px 0 0 20px;
        background-color: #e4e4e4;
        color: white;
        border-right: 3px solid #bdbdbd;
        position: relative;
        background-color: #e4e4e4;
        color: #333;

        .prec-label {
          white-space: nowrap;
          display: inline-block;
          width: 70px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &[data-urgscore="T"] {
          background-color: rgba(255,0,255,1);
          color: white;
          font-weight: 600;
        }

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 10px;
          background-color: lightsmoke;
          position: absolute;
          left: 4px;
          top: 50%;
          transform: translateY(-50%);
        }

        &[data-urgscore="T"]::after { background-color: rgba(255,0,255,1); }
        &[data-urgscore="H"]::after { background-color: rgba(255,0,255, 0.4); }
        &[data-urgscore="M"]::after { background-color: rgba(255,0,255,0.1); }
        &[data-urgscore="l1"]::after { background-color: rgb(127, 69, 60); }
        &[data-urgscore="l2"]::after { background-color: rgb(160, 93, 103); }
        &[data-urgscore="l3"]::after { background-color: rgb(179, 124, 153); }
        &[data-urgscore="l4"]::after { background-color: rgb(172, 164, 200); }
        &[data-urgscore="l5"]::after { background-color: rgb(144, 207, 231); }

        // &[data-urgscore="1) Top"]::after { background-color: rgb(127, 69, 60); }
        // &[data-urgscore="2) Very High"]::after { background-color: rgb(160, 93, 103); }
        // &[data-urgscore='3) High']::after { background-color: rgb(179, 124, 153); }
        // &[data-urgscore='4) High-Mid']::after { background-color: rgb(172, 164, 200); }
        // &[data-urgscore='5) Mid']::after { background-color: rgb(144, 207, 231); }

      }


      .prec-thermo {
        flex-grow: 1;
        background-image: url(/img/gradient.png);
        background-size: 100%;
        border-radius: 0 10px 10px 0;
        display: flex;
        overflow: hidden;
        border: 1px solid #bdbdbd;

        .prec-spacer {
          flex-grow: 1;
          background-color: white;
        }
      }

      .prec-counter {
        position: absolute;
        right: 3px;
        top: 4px;
        font-size: 10px;
        background-color: #dadada;
        border-radius: 10px;
        padding: 0 2px;
        display: inherit;
      }
    }
}


@mixin event-styling {
  h5.event-distance {
    font-size: 12px;
    padding: 2px 5px;
    background-color: darkgray;
    display: inline-block;
    color: white;
    border-radius: 4px;
  }
  h5.event-categ {
    font-size: 12px;
    padding: 2px 5px;
    background-color: #3fd7d4;
    display: inline-block;
    color: white;
    border-radius: 4px;
  }
  h4 {
    margin: 0 10px;
    a {
    font-size: 18px;
    color: $beto-blue;

    text-decoration: none;
    @include oswald;
    text-transform: uppercase;
    letter-spacing: 0.3;
    transition: color 0.4s;

    &:hover {
      color: $beto-lightblue;
    }
  }}
  .event-details {
    flex-direction: column;
    align-items: center;
    .event-dateplace {
      padding:  6px 10px 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      @include montserrat;
      flex-grow: 1;
      width: 100%;
      .event-date {
        margin-bottom: 2px;
        font-size: 12px;
        color: #616161;
      }

      .event-venue {
        font-size: 14px;
        margin-bottom: 2px;
        padding-right: 5px;
      }
    }
    .event-rsvp {
      text-align: right;

      a.beto-cta {
        width: 100%;
        text-align: center;
      }
    }
  }

  // @media only screen and (max-width: 850px) {
  //
  //   h5.event-categ { font-size: 10px; }
  //   h4 a { font-size: 14px; }
  //   .event-details {
  //    .event-dateplace {
  //      .event-date { margin-top: 0; font-size: 11px;}
  //      .event-venue { margin-top: 0; font-size: 11px;}
  //    }
  //    .event-rsvp {
  //      a {
  //        background-color: #298f8d;
  //        color: white;
  //        font-size: 12px;
  //        letter-spacing: 1px;
  //        font-weight: bold;
  //      }
  //    }
  //   }
  // }
}


@mixin staging-styling {
  h5.staging-distance {
    font-size: 12px;
    padding: 2px 5px;
    background-color: darkgray;
    display: inline-block;
    color: white;
    border-radius: 4px;
  }
  h5.staging-categ {
    font-size: 12px;
    padding: 2px 5px;
    background-color: #3fd7d4;
    display: inline-block;
    color: white;
    border-radius: 4px;
  }
  h4{
    margin: 0 10px;
    a {
    font-size: 18px;
    // color: #288f8d;
    color: $beto-blue;
    text-decoration: none;

    @include oswald;
    text-transform: uppercase;
    letter-spacing: 0.3;

    transition: color 0.4s;
    &:hover {
      color: $beto-lightblue;
    }
  }}
  .staging-details {
    flex-direction: row;
    align-items: flex-start;
    @include montserrat;
    .staging-dateplace {
      padding: 5px 10px 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      .staging-date {
        margin-bottom: 2px;
        font-size: 14px;
        color: gray;
      }
      .staging-description {

        font-size: 10px;
        line-height: 13px;
        padding-right: 10px;
        margin-bottom: 5px;

      }
      .staging-venue {
        font-size: 14px;
        margin-bottom: 2px;
        padding-right: 5px;
      }
    }
  }

  // @media only screen and (max-width: 850px) {
  //   div.staging-details {
  //     flex-direction: column;
  //     div.staging-dateplace {
  //       @include montserrat;
  //       display: flex;
  //       flex-direction: column-reverse;
  //       width: 100%;
  //
  //
  //       .staging-description {
  //         background-color: #e7e7e7;
  //         margin-top: 3px;
  //         margin-bottom: 3px;
  //         border-radius: 4px;
  //         padding: 5px;
  //       }
  //       p.staging-venue {
  //         margin-bottom: 5px;
  //         margin-top: 0;
  //         font-size: 12px;
  //       }
  //     }
  //
  //     div.staging-rsvp {
  //       text-align: right;
  //       width: 100%;
  //       a {
  //         background-color: #298f8d;
  //         color: white;
  //
  //         padding: 1px 10px;
  //         margin-top: 3px;
  //         font-weight: bold;
  //         letter-spacing: 2px;
  //       }
  //     }
  //   }
  // }
} // end of staging-styling



i.urgency {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  // border-radius: 4px;
  padding: 2px 5px;
  white-space: nowrap;

  &[data-level="l1"] {
    background-color: rgb(127, 69, 60);
    color: white;

    &:after { content: 'TOP'; font-style: normal;  }
  }
  &[data-level="l2"] {
    background-color: rgb(160, 93, 103);
    color: white;
    &:after { content: 'VERY HIGH'; font-style: normal;  }
  }
  &[data-level="l3"] {
    background-color: rgb(179, 124, 153);
    color: white;
    &:after { content: 'HIGH'; font-style: normal; }
  }
  &[data-level="l4"] {
    background-color: rgb(172, 164, 200);
    color: #333;
    &:after { content: 'HIGH-MID'; font-style: normal; }
  }
  &[data-level="l5"] {
    background-color: rgb(144, 207, 231);
    color: #333;
    &:after { content: 'MID'; font-style: normal; }
  }
  &[data-level="l6"] {
    background-color: rgba(255,0,255, 0.1);
    color: #333;
    &:after { content: 'LOW-MID'; font-style: normal; }
  }
}

i.m-complete {
  font-size: 8px;
  font-weight: bold;
  font-style: normal;
  padding: 1px 2px;
  display: inline-block;
  &[data-level="l100"] {
    background-color: #00c2ff;
  }
  &[data-level="l80"] {
    background-color: rgba(51, 255, 170, 1);
  }
  &[data-level="l60"] {
    background-color: rgba(102, 205, 170, 0.8);
  }
  &[data-level="l40"] {
    background-color: rgba(153, 154, 170, 0.6);
  }
  &[data-level="l20"] {
    background-color: rgba(204, 102, 170, 0.4);
  }
  &[data-level="l0"] {
    background-color: rgba(255, 51, 170, 0.2);
  }
}

@mixin others-stat {
  .breakdown-other-cont {
    .breakdown-title.breakdown-title-other {
        margin-top: 15px;
        position: relative;
        display: block !important;
        text-align: center;
        background-color: #f2f2f2;
        padding-top: 5px;
        border-radius: 2px 2px 0 0;
        margin-left: 10px;
        span.breakdown-label {
          display: block;
          text-align: center;
          color: #5e5e5e;
          display: flex !important;
          flex-direction: row !important;
          align-items: center;
          justify-content: center;
          i {
            margin-left: 5px;
          }

          &:hover + .info-popup {
            display: block;
          }
        }

        .info-popup {
          display: none;
        }
    }

    .more-dets-overall-breakdown {
      // background-color:black;
      background-color: #f2f2f2;
      border-radius: 0 0 2px 2px;
      flex-direction: row;
      display: flex;
      // margin-top: 20px;
      margin-left: 10px;
      padding: 0 10px;
      justify-content: space-around;
      position: relative;

      &:after {
        content: '* Hover to show exact number';
        font-size: 8px;
        position: absolute;
        right: 0px;
        color: #bdbdbd;
        bottom: -12px;

        @include montserrat;
      }

      span.breakdown-label {
        display: none;
        @include montserrat-bold;
      }

      div.more-dets-value {
        text-align: center;
        cursor: crosshair;
        span.more-dets-num {
          display: block;
          font-size: 24px;
          font-family: Montserrat;
          font-weight: 600;
          color: #a2a2a2;

          @media only screen and (max-width: 850px) {
            font-size: 16px;
          }
        }
        span.more-dets-lbl {
          @include montserrat;
          font-size: 9px;
          color: #a2a2a2;
          top: -5px;
          position: relative;
        }
      }
    }
  }
}


@mixin bar-big-title {

  .overall-voted-lbl {
    @include montserrat;
    text-align: right;
    font-size: 10px;
    margin-top: 3px;
    margin-right: 3px;
    color: #a2a2a2;

    .overall-voted-val {
      margin-left: 3px;
      color: $voted-grad;
      font-weight: bold;
    }
  }

  .breakdown-title {
    .breakdown-count {

      // display: inline-block;
      // text-align: right;
      strong {
        font-weight: 800;
        display: inline-block;
        text-align: right;
      }
      strong:after {
        font-weight: normal;
        content: 'Doors Knocked';
        display: block;
        font-size: 8px;
        text-align: right;
        margin-top: -6px;
      }

      span {
        font-size: 12px;
        text-align: left;
        display: inline-block;

        &:after {
          font-weight: normal;
          content: 'GOTV Universe';
          display: block;
          font-size: 8px;
          text-align: right;
          margin-top: -3px;
          padding-left: 8px;
        }
      }

    }
    padding-top: 5px;
    span.breakdown-label {
      display: flex;
      flex-direction: column;
      span.breakdown-label-title {
        line-height: 10px;
      }
      span.breakdown-label-subbreak {
        padding-top: 3px;
        span.breakdown-label-item {
          font-size: 8px;
          font-weight: normal;
          margin-right: 5px;
        }
        span.breakdown-label-item {
          span.bd-val {
            font-size: 8px;
            font-weight: normal;
            border-radius: 2px;
            padding: 1px 2px;
            opacity: 0.6;
            &.bd-val-early {
              background-color: $voted-grad; color: white }
            &.bd-val-knocked { background-color: $knocked-grad; color: white}
          }
        }
      }

    }
  }
}


div.info-popup {
  position: absolute;
  width: 350px;
  background-color: white;
  top: 30px;
  z-index: 100;
  font-size: 10px;

  @media only screen and (max-width: 850px) {
    width: 100%;
  }

  &:after {
    content: '';
    border-left: 10px solid transparent;
    border-bottom: 10px solid lightgrey;
    border-right: 10px solid transparent;
    top: -10px;
    position: absolute;
    left: 50%;
    transform: translateX(34px);
  }

  table {
    font-size: 10px;
    border: 2px solid lightgray;

    th {

    width: 30%;

    }
  }
}
