<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@BetoORourke">
<meta name="twitter:url" content="https://win.betofortexas.com/">
<meta name="twitter:title" content="Get Out the Vote | GOTV Targets Plan">
<meta name="twitter:description" content="To elect Beto, we are organizing the largest Get Out The Vote (GOTV) campaign in Texas history. It’s going to take more than showing up on Election Day to knock on a few doors or make a few calls to pull off the kind of historic volunteer and voter mobilization we need to win.">
<meta name="twitter:image" content="https://win.betofortexas.com/img/social-tw.png">

<meta property="og:url"                content="https://win.betofortexas.com" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Get Out the Vote | GOTV Targets Plan" />
<meta property="og:description"        content="To elect Beto, we are organizing the largest Get Out The Vote (GOTV) campaign in Texas history. It’s going to take more than showing up on Election Day to knock on a few doors or make a few calls to pull off the kind of historic volunteer and voter mobilization we need to win." />
<meta property="og:image"              content="https://win.betofortexas.com/img/social-fb.png" />

<meta property="description" content="To elect Beto, we are organizing the largest Get Out The Vote (GOTV) campaign in Texas history. It’s going to take more than showing up on Election Day to knock on a few doors or make a few calls to pull off the kind of historic volunteer and voter mobilization we need to win." />
<meta property="title" content="Get Out the Vote | GOTV Targets Plan" />
<meta property="keywords" content="Get Out the Vote | GOTV Targets Plan"/>
<title>Get Out the Vote | GOTV Targets Plan</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Oswald:600" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />

<!-- inject:css -->
<!-- endinject -->
<div id="page">
  <div id='logo'>
    <a id='a-home' href='https://betofortexas.com'>
      <img src='/img/loader.svg' />
    </a>
    <a id='a-plan' href='https://betofortexas.com/plan/'>
      <img src='/img/plan-to-win.svg' />
    </a>
  </div>
  <section id="action-area">
    <div id="form-area">
      <form id='filter-form'>
        <div id='filters-container'>
          <div id='filter-search-input'>
            <h5>Search by Zipcode</h5>
            <div id='search-container' class='search-container'>
              <input type='number' name='zipcode' maxlength='5'
                  placeholder='ZIPCODE' onclick="this.select();"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
              <i class='fa fa-search'></i>
            </div>
          </div>
          <div id='filter-precinct-input'>
            <h5>Search by Precinct</h5>
            <div id='search-container' class='search-container'>
              <input type='text' name='precinct'
                  placeholder='Ex. Harris-0813' onclick="this.select();"
                   />
              <i class='fa fa-search'></i>
            </div>
          </div>
        </div>
        <div id='filter-show-more'>
          <a href='javascript: void(null)' id='show-more-btn'></a>
        </div>
      </form>
    </div>

    <div id='main-content-area'>
      <div style="display: block; z-index: 100;">
        <ul class="nav nav-tabs" id="main-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="action-list-area-tab" data-toggle="tab" href="#action-list-area" role="tab" aria-controls="home" aria-selected="true">Action</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="strategy-area-tab" data-toggle="tab" href="#strategy-area" role="tab" aria-controls="profile" aria-selected="false">Strategy</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="content-area">
        <article id='action-list-area' role="tabpanel" aria-labelledby="action-area-tab" class='main-tab tab-pane fade'>
          <h1 id='intro-name'><i class="fa fa-search"></i> <br/> Show overview by <br/>entering a zipcode or selecting a voting precinct on the map</h1>
        </article>
        <article id='strategy-area' role="tabpanel" aria-labelledby="strategy-area-tab" class='main-tab tab-pane fade show active'>
          <div id='county-inner-modal'>
            <div class='back-button'>
              <i class='fa fa-chevron-circle-left'></i> Back to Overview
            </div>
            <div id='county-area'>
              <div class="county-specific data-point">
                <h5>
                  <img src="/img/door.png" class="overall-image">
                  <span></span>
                </h5>

                <div class="breakdown-title">
                  <span class="breakdown-label">Universe Targets</span>
                  <span class="breakdown-count"><strong data-count="0">0</strong><span>&nbsp;/&nbsp;3,563,995</span></span>
                </div>
                <div class="overall-breakdown">
                  <span class="overall-target"></span>
                  <span class="overall-achieved" style="width: 0%"></span>
                </div>
              </div>

              <div class="county-precints data-point">
                <h5>
                  <i class='fa fa-map-marker'></i>
                  <span>By Precincts</span>
                </h5>
                <div class="bar-priority-data"></div>
              </div>
            </div>
          </div>
          <div class="main-tab-container">
            <div id='main-tab-tabs' style="display: block; z-index: 100">
              <ul class="nav nav-tabs" id="thematic-tabs" role="tablist">
                <li class='nav-title'>THEMES</li>
                <li class="nav-item">
                  <a class="nav-link active" id="doors-knocked-tab" data-toggle="tab" href="#doors-knocked" role="tab" aria-controls="doors-knocked" aria-selected="true">
                    <img src='/img/door.png' />
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="volunteer-shift-tab" data-toggle="tab" href="#volunteer-shift" role="tab" aria-controls="volunteer-shift" aria-selected="false">
                    <img src='/img/volunteer.png' />
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="staging-site-tab" data-toggle="tab" href="#staging-site" role="tab" aria-controls="staging-site" aria-selected="false">
                    <img src='/img/map-icon.png' />
                  </a>
                </li>
              </ul>
            </div>
            <div class='tab-content' id='strategy-area-content'>
              <article id="doors-knocked" class='tab-pane fade show active'>
                <div class='strategy-content'>
                  <div id='doors-bar-area'></div>
                </div>
                <div class='strategy-cta'><a href='#' class='call-to-action btn btn-primary'>Call to action</a></div>
              </article>
              <!-- article id="volunteer-shift" class='tab-pane'>
                <div class='strategy-content'></div>
                <div class='strategy-cta'><a href='#' class='call-to-action btn btn-primary'>Call to action</a></div>
              </article>
              <article id="staging-site" class='tab-pane fade'>
                <div class='strategy-content'></div>
                <div class='strategy-cta'><a href='#' class='call-to-action btn btn-primary'>Call to action</a></div>
              </article -->
            </div>
          </div>
        </article>
      </div>
      <div id="attribution">
        <span>Paid for by Beto for Texas</span>
        <span>&copy; 2018 <a href='https://betofortexas.com/privacy-policy/'>Privacy Policy</a></span>
      </div>
    </div>
  </section>
  <section id="map-area">
    <div data-type="fill"
        data-img="/img/loader.svg"
        id="beto-loader"
    ></div>
    <div id='map'></div>
    <div id='map-insight'>
      <div id='map-insight-container'>
        <div id='first-view'>
          <i class="fa fa-search"></i>
          <span>Show overview by entering a zipcode or selecting a voting precinct on the map</span>
        </div>
      </div>
    </div>
    <div id='map-controls'>

      <form id='map-controls-form'>
        <div id='map-ctrl-containers'>
          <h5>Actions</h5>
          <div class='map-ctrl-row'>
            <label for='ctrl-hq'>
              <input id='ctrl-hq' type="checkbox" name="show_hq" value="true" checked>
              <span class='check-circle'>
                <i class="fa fa-check-square"></i>
                <i class="fa fa-square"></i>
              </span>
              <span>Headquarters</span>
            </label>
          </div>
          <div class='map-ctrl-row'>
            <label for='ctrl-popups'>
              <input type="checkbox" id='ctrl-popups' name="show_popups" value="true" checked>
              <span class='check-circle'>
                <i class="fa fa-check-square"></i>
                <i class="fa fa-square"></i>
              </span>
              <span>Pop-up Offices</span>
            </label>
          </div>
          <div class='map-ctrl-row'>
            <label for='ctrl-door'>
              <input type="checkbox" id='ctrl-door' name="show_events" value="true" checked>
              <span class='check-circle'>
                <i class="fa fa-check-square"></i>
                <i class="fa fa-square"></i>
              </span>
              <span>Events</span>
            </label>
          </div>
          <h5>Strategy</h5>
          <div class='map-ctrl-row'>
            <label for='ctrl-shift'>
              <input id='ctrl-shift' type="radio" name="show_strategy" value="targets" checked>
              <span class='check-circle'><i class="fa fa-circle"></i><i class="fa fa-check-circle"></i></span>
              <span>Targets</span>
            </label>
          </div>
          <div class='map-ctrl-row'>
            <label for='ctrl-heatmap'>
              <input id='ctrl-heatmap' type="radio" name="show_strategy" value="completed">
              <span class='check-circle'><i class="fa fa-circle"></i><i class="fa fa-check-circle"></i></span>
              <span>% Complete</span>
            </label>
          </div>
          <div class='map-ctrl-row map-ctrl-layer'>
            <label for='ctrl-road'>
              <input type="checkbox" id='ctrl-road' name="ctrl-road" value="true" checked>
              <span class='check-circle'>
                <i class="fa fa-square"></i><i class="fa fa-check-square"></i>
              </span>
              <span>Show Roads</span>
            </label>
          </div>
        </div>
      </form>
      <a href='https://gdoc.pub/doc/e/2PACX-1vTHkuf-k8nVNxCWsKQlZ2J0UD2o_GNrSv3IjejCWsRDlFFFM4lubYxg4k05ww81cEWqwHNTqH8wo76X'
      target='_blank'
      id='how-to'>
        <i class='fa fa-question-circle'></i>
        <span>How to use the map</span>
      </a>
    </div>
    <div id='map-legend-container' data-visible='targets'>
      <div style="display: block; text-align: right">
        <div id='door-legend' class='map-legend'>
          <div id='urgency-legend'>
            <h5>Priority</h5>
            <div id='prio-label'>
              <span>LOWER</span>
              <span>HIGHER</span>
            </div>
            <div style="display: flex; flex-direction: row;">
              <i class='urgency' data-level='l5'></i>
              <i class='urgency' data-level='l4'></i>
              <i class='urgency' data-level='l3'></i>
              <i class='urgency' data-level='l2'></i>
              <i class='urgency' data-level='l1'></i>
            </div>
          </div>
          <div id='complete-legend'>
            <h5>% Complete</h5>
            <div style="display: flex; flex-direction: row-reverse;">
              <i class="m-complete" data-level="l100">100%</i>
              <i class='m-complete' data-level='l80'>&gt;80%</i>
              <i class='m-complete' data-level='l60'>&gt;60%</i>
              <i class='m-complete' data-level='l40'>&gt;40%</i>
              <i class='m-complete' data-level='l20'>&gt;20%</i>
              <i class='m-complete' data-level='l0'>&gt;&nbsp;0%</i>
            </div>
          </div>
        </div>
      </div>

      <div id='pin-legend' class='map-legend'>

        <div>
          <div class='pin-containers'>
            <div class='pins'>
              <div class='pin-type'>
                <img src="/img/star-black.png"/>
                <span>Grassroots HQ</span>
              </div>
            </div>
            <div class='pins'>
              <div class='pin-type'>
                <img src="/img/star-blue.png"/>
                <span>Campaign HQ</span>
              </div>
            </div>
          </div>
          <div class='pin-containers'>
            <div class='pins'>
              <div class='pin-type'>
                <img src="/img/red-pin.png"/>
                <span>Pop-up Office</span>
              </div>
            </div>
            <div class='pins'>
              <div class='pin-type'>
                <img src="/img/black-pin.png"/>
                <span>Events</span>
              </div>
            </div>
            <div class='pins'>
              <div class='pin-type'>
                <img src="/img/houses.png"/>
                <span>Unknocked Doors</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end of pin legend -->
      </div>
    </div>
  </section>
</div>

<!-- inject:js -->
<!-- endinject -->


<script>
		  !function(f,b,e,v,n,t,s)
		  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		  n.queue=[];t=b.createElement(e);t.async=!0;
		  t.src=v;s=b.getElementsByTagName(e)[0];
		  s.parentNode.insertBefore(t,s)}(window, document,'script',
		  'https://connect.facebook.net/en_US/fbevents.js');
		  fbq('init', '2111186099127646');
		  fbq('track', 'PageView');
		fbq('track', 'ViewContent', {content_name: 'plan-to-win-0-top',});
		</script>
<noscript><img height="1" width="1" style="display:none"
		  src="https://www.facebook.com/tr?id=2111186099127646&ev=PageView&noscript=1"
		/></noscript>


<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('o03a6', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=o03a6&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
		<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=o03a6&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
		</noscript>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83432953-42"></script>
<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-83432953-42');
		</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-852021697"></script>
<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'AW-852021697');
		</script>

<script>
  gtag('event', 'conversion', {'send_to': 'AW-852021697/TTGACOjEk4gBEMGjo5YD'});
</script>

<script async type="text/javascript" src="//userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/2f4c8343c7ab149da2415979444a704a05e8ad1f078dd9a5c847ea4f516c1451.js"></script>
